# Godot 4+ specific ignores
.godot/
*.jpg~
*.png~
.vscode/
addons/limboai/bin/~liblimboai.windows.editor.x86_64.dll
addons/godotsteam/win64/~libgodotsteam.windows.template_debug.x86_64.dll
/.continue
/addons/phantom_network_GDExtension
